<h1><%= @vendor.name %></h1>

<h2>Contact Info:</h2>
<p><b>Name:</b> <%= @vendor.contact_name %></p>
<p><b>Phone:</b> <%= @vendor.contact_phone %></p>
<p><b>Credit Accepted?</b> <%= @vendor.is_credit_accepted %></p><br>
<p><b>Description:</b> <%= @vendor.description %></p>

